h1{
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

h2{
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
p{
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#social-buttons button {
color: white;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-twitter {
	background-color: #00acee;
	border-color: #009ad5;
}


.btn-facebook {
	background-color: #4868ac;
	border-color: #314776;
}

.btn-pinterest {
	background-color: #b62f26;
	border-color: #b62f26;
}